* {
  padding: 0em;
  margin: 0em;
}

html {
	background-color: #537895;
	width: 100%;
}

body {
	max-width: 1024px;
	font-family: Arial;
	margin: auto;
	border:3px solid black;
	background-color: white;
}


p {
	line-height: 150%;
}

.pageContent {
	margin-bottom: 0.5em;
	padding: 1em 2em 1em 2em;
}

.pageContent h2 {
	font-size: 2.2em;
	font-weight: bold;
}

.pageContent h3 {
	font-weight: bold;
	font-size: 1.6em;
}

.pageContent p {
	margin-top: 1.5em;
}

.gallery {
	margin-top: 1em;
}

.helpNav {
	position: absolute;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

.center {
	text-align: center;
}

.gallery {
	margin-top: 1em;
}

.banner {
    border: 1px solid #0B4D51;
	height: 12em;
    max-width: 50em;
    margin-top: 2em;;
    margin-left: auto;
    margin-right: auto;
}

.banner img {
    background: #ccc;
    float: left;
    height: 100%;
    width: 32%;
    -webkit-transition: .50s;
       -moz-transition: .50s;
        -ms-transition: .50s;
         -o-transition: .50s;
            transition: .50s;
    margin-right: 0.3em;
    margin-left: 0.3em; 
}

.banner:hover {
    height: 20em;
}

.banner:hover img {
    height: 40%;
    width: 20%;
}

.banner img:hover {
    height: 100%;
    width: 55%;
}

/*********
**LINKS**
*********/
a {
	text-decoration: none;
	color: black;
}

a:visited {
  color: #551A8B;
}

a:hover {
  text-decoration: underline;
}

a:active {
	color: #ff0000;
}

.current {
	color: #0000f0;
}

/*********
**HEADER**
*********/
#headerContainer {
	display: flex;
}

.title {
	width: 80%;
}

.title h1 {
	font-weight: bold;
	font-size: 3em;
	padding:0.3em;
	color: #0B4D51;
	text-align: center;
}

.topnav {
	width: 20%;
	text-align: right;
}

.topnav ul {
	padding: 0.5em 1em 0.5em 0.5em;
}


.topnav li {
	display: inline;
	padding-right: 0.3em;
}

/*********
***MENU***
*********/
#menu {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 0.5em;
	font-size: 1.2em;
	font-weight: bold;
}

#menu li {
	display: inline;
	padding-right: 1.3em;
}

/***********
*BREADCRUMB*
************/
#breadcrumb {
	border-bottom: 1px solid black;
	padding: 0.5em 0.5em 0.5em 2em;
	background-color: #0B4D51;
	color: #fff;
}

#breadcrumb a {
	color: #fff;
}

#breadcrumb a:visited {
	color: #F0F97B;
}

#breadcrumb p {
	font-size: 1em;
	font-weight: bold;
}

/*********
**FOOTER**
*********/
#footer {
	border-top: 1px solid black;
	padding: 0.6em;
	min-height: 3em;
	clear: both;
}

#footer p {
	text-align: center;
	font-size: 0.9em;
}
#footer img {
	width: 5em;
}

#valHTML {
	float: left;
}

#valCSS {
	float: right;
}

#footerSocial {
	margin-top: 1.5em;
	text-align: center;
}

#footerSocial img {
	width: 3em;
	padding: 0.4em;
}

/*********
*HOMEPAGE*
*********/
#homeContentContainer {
	width: 100%;
	margin: auto;
}

.clearContainer {
	clear: both;
}

#homeChildLeft {
	width: 50%;
	float: left;
	margin-top: 2.5em;
	margin-right: 0.5em;
}

#homeChildRight {
	width: 45%;
	float: left;
	margin-left: 0.5em;
	margin-top: 1em;
}

#homeChildRight p {
	margin-top: 0.8em;
}

#struttura {
	clear: both;
	margin: auto;
}

#homePanoramica {
	display: block;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	border: 1px solid black;
}

/*********
*CONTATTI*
**********/
.contactBox  {
	text-align: left;
	margin-left: 0.5em;
	padding-top: 1em;
}

.contactBox h2 {
	font-size: 1.8em;
	margin-bottom: 0.2em;
}

.contactBox h3 {
	font-size: 1em;
}

.contactBox ul {
	list-style-type: none;
}

.contactBox {
	margin-bottom: 1.3em;
}

.contactBox p  {
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	margin-top: 0.3em;
}

#maps {
	margin-top: 0.4em;
	border: 1px solid black;
}

/***********
****LOGIN***
************/

#loginPage {
	margin-top: 2.5em;
}

#fieldset_login {
	margin: 2em;
	margin-bottom: 2.5em;
}

#fieldset_login legend {
	font-weight: bold;
	margin-left: 1em;
}

.input_line label {
	width: 5em;
	padding: 0.9em;
	display:inline-block;
}

.login_buttons {
	margin-left: 1em;
	padding-top: 0.3em;
	width: 1em;
}

.input_line input {
	height: 1.6em;
}

/*************
**LavoraForm**
*************/
#lavoraContent {
	margin: 0.5em;
}

#lavoraContent h2 {
	font-weight: bold;
	padding-bottom: 0.2em;
}

#lavoraContent p {
	font-size: 1em;
	text-align: left;
	padding-top: 0.2em;
}

#lavora_form {
	font-size: 1.2em;
	margin-top: 0.8em;
	margin-bottom: 0.8em;
	padding: 1em;
}

#lavora_form input {
	height: 1.6em;
}

#lavora_form label {
	width: 4.5em;
	display: inline-block;
	padding: 0.5em;
}

.conferma p {
	margin-left: 0.5em;
	color: green;
	font-size: 0.8em;
	padding-bottom: 0.3em;
}

.errore p {
	margin-left: 0.5em;
	color: red;
	font-size: 0.8em;
	padding-bottom: 0.3em;
}

.errore ul {
	list-style-type: none;
	margin: 0.3em;
}

.errore li {
	padding-bottom: 0.3em;
	margin-left: 0.5em;
	color: red;
	font-size: 0.8em;
}

.default {
	color:#ddd;
}
/***********
*ISTRUTTORI*
***********/

#inst_list {
	margin: auto;
}

.sport_list {
	padding: 0 0.5em 0.5em 0.5em;
	margin: 0.5em;
}

.sport_list dt {
	background-color: #0B4D51;
	font-weight: bold;
	color: #fff;
	padding: 0.5em;
	margin-top: 1em;
}

.sport_list dd {
	padding: 0.5em;
	border: 1px solid #0B4D51;
	min-height: 12em;
}

.sport_list dd img {
	float: left;
	width: 9em;
	height: 9em;
	border: 1px solid black;
	margin-right: 1em;
}

.sport_list dd p.tornaSu {
	text-align: right;
}

.sport_title {
	margin-top: 1em;
	border: 1px solid black;
	background-color: #0B4D51;
	color: #fff;

}
.sport_title h3 {
	text-align: center;
	margin: 0.5em;
}


/**********
**PISCINE**
**********/

.description ul {

    display: table;
    margin-left: 3em;
	padding-top: 0.5em;
    padding-bottom: 0.5em;
}


/************
****ADMIN****
************/
#visualizza {
	margin-left: 1.2em;
	font-weight: bold;
}


table, td, th {
    border: 1px solid black;
    padding: 0.7em;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  height: 2em;
  vertical-align: bottom;
}

caption {
	font-weight: bold;
	font-size: 1.5em;
}

.togli a {
	font-weight: bold;
}