/**************
****HEADER*****
**************/

#headerContainer {
	display: block;
}

.title {
	width: 100%;
	font-size: 2.8em;
	border-bottom: 1px solid black;
}

.title h1 {
	font-weight: bolder;
	font-size: 2em;
	text-align: center;
}

.topnav {
	width: auto;
	text-align: center;
}

.topnav li {
	font-weight: bold;
	display: block;
	font-size: 1.5em;
}

/*********
***MENU***
*********/

#menu li {
	display: block;
	font-size: 2em;
	text-align: center;
}

/***********
***LAVORA***
***********/
#lavora_form {
	font-size: 2em;
	font-weight: bold;
}

#lavora_form input {
	border: 2px solid black;
	height: 3em;
	width: 60%;
}

#lavora_form input::placeholder {
	font-size: 3em;
	text-align: center;
}

#lavora_form input[type="submit"] {
	/*min-height: 2em;*/
	margin-top: 1em;
	text-align: center;
	font-weight: bold;
	font-size: 0.7em;
}

#n {font-size: 0.7em;}
#c {font-size: 0.7em;}
#d {font-size: 0.7em;}
#m {font-size: 0.7em;}

#lavora_form input[type="text"] {
	font-size: 1em;
}


#lavora_form select {
	margin-top: 1em;
	text-align: center;
	font-weight: bold;
	font-size: 1em;
	border: 2px solid black;
	margin-top: 1.5em;
	width: 20%;
}


/**************
******NUOTO****
**************/
.description {
	font-size: 2em;	
}


/*************
*****HOME*****
*************/
#homeChildLeft {
	width: 100%;
}

#homeChildRight {
	width: 100%;
}

#homeChildRight h2{
	font-size: 2em;
	font-weight: bold;
}

#homeChildRight p{
	font-size: 2.2em;
}

#struttura {
	font-size: 2em;
}