*{
  padding: 0em;
  margin: 0em;
}

html {
	background-color: white;
	width: 100%;
}

body {
	background-color: #cc7a00;
	font-family: "Arial", cursive;
	max-width: 1024px;
	margin: auto;
	border: 1px solid #1c1c1c;
}


#instructors {
	margin-left: 1.5em;
	margin-right: 1.5em;
	/*border-left: 1px solid black;*/
	/*border-right: 1px solid black;*/
}

#instructors h2 {
	font-weight: bold;
	font-size: 190%;
	text-align: center;
	padding: 1em;
}

#instructors h3 {
	font-weight: bold;
	font-size: 150%;
	text-align: left;
	border: 1px solid black;
	/*border-left: none;
	border-right: none;*/
}

.sp_logo {
	/*display: flex; /*controllare*/
	width: 35%;
	border: 1px solid black;
	border-top: none;
	/*border-left: none;*/
	margin-bottom: 2em;
}

.inst_face {
	float: left;
	width: 9em;
	height: 9em;
	border: 1px solid black;
	/*border-left: none;*/
}

.inst_style dd {
	min-height: 15em;
}

.inst_style dt {
	font-weight: bold;
}

#lavora_form {
	margin-top: 2em;
	margin-bottom: 2em; 
	padding: 1em;
}

#lavora_form label {
	width: 5em;
	display: inline-block;
	padding: 1em;
}

#lav_title h2 {
	text-align: center;
}

#lav_title p {
	text-align: center;
}