
/*
.col-sm-1.element.contatti{
}

*{
	margin: auto 0;
}
*/

body{
	font-family: Arial;
	display: flex;
	width: 800px;
	margin: 0 auto;
}

#content{
	width: 800px;
	margin: 0 auto;
}

#description{
	width: 800px;
}

.titleBar.para{
	text-align: center;
}

/*COME FARE RIFERIMENTO AD UN TAG DI UNO SPECIFICO DIV??*/
h2 {
	text-align: center;
}

h1{
	text-align: center;
}

a:link {
	color:blue;
}

a:visited {
	color:red;
}

/*PISCINE*/
.subTitle {
	text-align: left;
	font-size: 1.2em;
}

.piscinaImg{
	width: 640px;
	height: 480px;
}